@import "../utils/mixins";
@import "../utils/variables";

#about {
    section.banner {
        background-image: url("/images/about-banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 20%;
        background-color: rgba(40, 44, 46, 0.9);
        height: 300px;
        @include flex(row, nowrap, center, flex-start);
        .title {
            @include text(AvenirNextCyr, 45px, 1.2, bold, $white);
            text-align: center;
        }
    }
    section.mission {
        padding: 5rem 0 0 0;
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, $verydarkblue);
            padding: 1.5rem 0;
            background-image: url("/images/flowerNline.png");
            background-repeat: no-repeat;
            background-position: 0 50%;
            background-size: auto;
            margin-bottom: 1.5rem;
        }
        h3 {
            @include text(AvenirNextCyr, 25px, 1.2, bold, rgb(30, 35, 41));
        }
        p {
            @include text(AvenirNextCyr, 18px, 1.722, 500, rgb(30, 35, 41));
        }
        img {
            border-radius: 20px;
            max-width: 485px;
            width: 100%;
            height: 308px;
            object-fit: cover;
        }
    }
    section.contacts {
        padding: 5rem 0 10rem 0;
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, $verydarkblue);
            padding: 1.5rem 0;
            background-image: url("/images/flowerNline.png");
            background-repeat: no-repeat;
            background-position: 50% 100%;
            background-size: auto;
        }
        .contact-item {
            @include flex(column, nowrap, center, flex-start);
            .icon {
                border-radius: 30px;
                background-color: $limegreen;
                width: 90px;
                height: 90px;
                @include flex(row, nowrap, center, center);
                margin-bottom: 1rem;
                object {
                    max-width: 30px;
                    height: 36px;
                }
            }
            h2 {
                @include text(AvenirNextCyr, 17px, 1.278, bold, $verydarkblue);
                text-align: center;
            }
            p,
            a {
                @include text(AvenirNextCyr, 17px, 1.278, 500, $verydarkblue);
                text-align: center;
            }
        }
        .contact-btn {
            background-color: $vividorange;
            @include flex(row, nowrap, center, center);
            @include text(AvenirNextCyr, 16px, 1.2, bold, $white);
            height: 60px;
            border-radius: 30px;
        }
    }
}
@media (max-width: 576px) {
    #about section.banner {
        background-position: center;
    }
}
