@import "../utils/mixins";
@import "../utils/variables";
@import "../components/slick-theme.scss";
@import "../components/slick.scss";
@import "~magnific-popup/src/css/main.scss";
#card {
    .back_a {
        font-family: AvenirNextCyr;
        font-size: 12px;
        line-height: 1.2;
        font-weight: 500;
        color: #000;
        text-decoration: underline;
        &::before {
            content: "";
            display: inline-block;
            padding-right: 5px;
            font-family: "Font Awesome 5 Pro";
            font-weight: 500;
            font-size: 12px;
            transition: all 0.2s ease;
        }
    }
    .back_a_wrap {
        margin-bottom: 12px;
    }
    .description {
        background-color: $white;
        .slider-nav {
            .slick-slide {
                margin: 0 10px;
                max-width: 121px;
                height: 90px;
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                    border-radius: 5px;
                    border-radius: 20px;
                    background-color: rgb(255, 255, 255);
                }
            }
            .slick-list {
                margin: 0 -10px;
            }
        }
        .slider-for {
            margin-bottom: 1rem;
            .slick-list {
                // border-width: 1px;
                // border-color: rgb(224, 224, 224);
                // border-style: solid;
                // border-radius: 20px;
                // background-color: rgb(255, 255, 255);
            }
            .slick-slide {
                height: 310px;
                img {
                    width: 100%;
                    object-fit: contain;
                    height: 100%;
                }
            }
        }
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 27px, 1.2, bold, rgb(30, 35, 41));
            margin-bottom: 1rem;
        }
        h3 {
            @include text(AvenirNextCyr, 14px, 1.2, bold, rgb(30, 35, 41));
            margin-bottom: 1rem;
        }
        p {
            @include text(AvenirNextCyr, 14px, 1.2, 500, rgb(118, 118, 118));
            margin-bottom: 1rem;
        }
        ul {
            padding-left: 0;
            list-style: none;
            margin-bottom: 1rem;
            li {
                @include text(
                    AvenirNextCyr,
                    14px,
                    1.2,
                    500,
                    rgb(118, 118, 118)
                );
                span {
                    color: rgb(30, 35, 41);
                }
            }
        }
        .quantity-controls {
            @include flex(row, nowrap, center, flex-start);
            border-width: 1px;
            border-color: rgb(224, 224, 224);
            border-style: solid;
            background-color: rgb(249, 250, 251);
            max-width: 148px;
            height: 49px;
            border-radius: 30px;
            width: 100%;
            height: 54px;
            overflow: hidden;
            margin-right: 1.5rem;
            button {
                @include text(AvenirNextCyr, 20px, 1, 400, rgb(224, 224, 224));
                background-color: transparent;
                border: none;
                height: 100%;
                width: 46px;
            }
            input {
                @include text(AvenirNextCyr, 14px, 1.2, 600, rgb(26, 26, 26));
                text-align: center;
                border: none;
                width: 100%;
                min-width: 25px;
            }
            label {
                @include flex(row, nowrap, center, space-between);
                @include text(AvenirNextCyr, 14px, 1.2, 600, rgb(26, 26, 26));
                width: 56px;
            }
        }
        h5 {
            @include text(AvenirNextCyr, 16px, 1.2, 500, rgb(26, 26, 26));
            margin-right: 1rem;
        }
        .cart-btn {
            @include text(AvenirNextCyr, 14px, 1.2, bold, rgb(255, 255, 255));
            background-color: rgb(245, 130, 31);
            border: none;
            max-width: 170px;
            height: 50px;
            width: 100%;
            border-radius: 30px;
        }
        .nav-pills {
            @include flex(row, wrap, center, space-between);
            .nav-link {
                @include text(
                    AvenirNextCyr,
                    14px,
                    1.2,
                    bold,
                    rgb(209, 209, 209)
                );
                @include flex(row, nowrap, center, center);
                height: 43px;
            }
            & .nav-link.active,
            & .show > .nav-link {
                color: $white;
                background-color: rgb(8, 111, 53);
                border-radius: 30px;
            }
        }
        .tab-content {
            ul {
                list-style: none;
                padding-left: 1.4rem;
                margin-bottom: 0;
                li {
                    position: relative;
                    @include flex(row, nowrap, center, space-between);
                    margin-bottom: 0.75rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &::before {
                        position: absolute;
                        content: "\2022";
                        color: rgb(245, 130, 31);
                        font-weight: bold;
                        display: inline-block;
                        width: 7px;
                        right: 100%;
                        margin-right: 0.75rem;
                    }
                    span {
                        color: rgb(30, 35, 41);
                    }
                }
            }
        }
        section.products {
            padding: 5rem 0 10rem 0;
            .title {
                display: inline-block;
                @include text(AvenirNextCyr, 35px, 1.2, bold, $verydarkblue);
                padding: 1.5rem 0;
                background-image: url("/images/flowerNline.png");
                background-repeat: no-repeat;
                background-position: 0 50%;
                background-size: auto;
            }
            .arrows {
                background-color: $vividorange;
                max-width: 165px;
                height: 60px;
                border-radius: 30px;
                padding: 0 0.5rem;
                @include flex(row, nowrap, center, space-between);
                .progress {
                    background-color: $white;
                    max-width: 52px;
                    width: 100%;
                    height: 2px;
                }
                .slick-arrow {
                    border: none;
                    background-color: transparent;
                    position: static;
                    padding: 0 1rem;
                    &::before {
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 1;
                        color: $white;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                    &.prev::before {
                        content: "\F053";
                    }
                    &.next::before {
                        content: "\F054";
                    }
                }
            }
            .products-slider {
                .slick-slide {
                    margin: 0 10px;
                    height: inherit;
                }
                .product-card {
                    @include flex(column, nowrap, stretch, flex-start);
                    border-width: 1px;
                    border-color: $verylightgray;
                    border-style: solid;
                    border-radius: 20px;
                    background-color: $white;
                    padding: 1rem;
                    .product-header {
                        position: relative;
                        a {
                            display: contents;
                        }
                        img {
                            width: 100%;
                            height: 185px;
                            object-fit: scale-down;
                        }
                        .tag {
                            @include text(
                                AvenirNextCyr,
                                14px,
                                1.2,
                                500,
                                $white
                            );
                            @include flex(row, nowrap, center, center);
                            background-color: rgb(34, 96, 209);
                            width: 60px;
                            height: 32px;
                            border-radius: 35px;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }
                    .product-body {
                        .name {
                            @include text(
                                AvenirNextCyr,
                                16px,
                                1.2,
                                bold,
                                $verydarkblue
                            );
                            text-align: center;
                            margin: 1.5rem 0;
                        }
                        .cart-btn {
                            @include flex(row, nowrap, center, center);
                            border: none;
                            border-radius: 50%;
                            background-color: rgb(8, 111, 53);
                            max-width: 43px;
                            width: 100%;
                            height: 43px;
                            object {
                                pointer-events: none;
                                width: 19px;
                                height: 19px;
                            }
                        }
                        .more {
                            @include text(
                                AvenirNextCyr,
                                14px,
                                1.2,
                                500,
                                $white
                            );
                            @include flex(row, nowrap, center, center);
                            border-radius: 20px;
                            background-color: rgb(245, 130, 31);
                            max-width: 170px;
                            width: 100%;
                            height: 41px;
                        }
                    }
                }
            }
        }
    }
}
/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}

/*

for zoom animation
uncomment this part if you haven't added this code anywhere else

*/

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}
@media (max-width: 576px) {
    #card .description .cart-btn {
        max-width: 100px;
    }
    #card .description section.products {
        padding-top: 2rem;
    }
}
