@import "../utils/mixins";
@import "../utils/variables";

#cart {
    background-color: #fff;
    section.cart {
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, #1e2329);
            padding: 1.5rem 0;
            background-image: url(/images/line.png);
            background-repeat: no-repeat;
            background-position: 0 100%;
            background-size: auto;
        }
        h4 {
            @include text(AvenirNextCyr, 35px, 1.2, bold, #1e2329);
            padding: 1.5rem 0;
        }
        .cart-item {
            margin-left: -15px;
            margin-right: 15px;
            .cart-item-head {
                margin-left: 15px;
                margin-right: 15px;
                h5 {
                    @include text(AvenirNextCyr, 18px, 1.2, bold, #ffffff);
                }
            }
            .cart-item-body {
                margin-left: 15px;
                margin-right: 15px;
                background: #ffffff;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
                .name {
                    @include text(AvenirNextCyr, 15px, 1.2, bold, #525252);
                }
                img {
                    object-fit: cover;
                    width: 98px;
                    height: 68px;
                }
                .quantity-controls {
                    @include flex(row, nowrap, center, flex-start);
                    border-width: 1px;
                    border-color: rgb(224, 224, 224);
                    border-style: solid;
                    background-color: rgb(249, 250, 251);
                    max-width: 148px;
                    height: 49px;
                    border-radius: 30px;
                    width: 100%;
                    height: 54px;
                    overflow: hidden;
                    button {
                        @include text(
                            AvenirNextCyr,
                            20px,
                            1,
                            400,
                            rgb(224, 224, 224)
                        );
                        background-color: transparent;
                        border: none;
                        height: 100%;
                        width: 46px;
                    }
                    input {
                        @include text(
                            AvenirNextCyr,
                            14px,
                            1.2,
                            600,
                            rgb(26, 26, 26)
                        );
                        text-align: center;
                        border: none;
                        width: 100%;
                        min-width: 25px;
                    }
                    label {
                        @include flex(row, nowrap, center, space-between);
                        @include text(
                            AvenirNextCyr,
                            14px,
                            1.2,
                            600,
                            rgb(26, 26, 26)
                        );
                        width: 56px;
                    }
                }
                .price {
                    @include text(AvenirNextCyr, 20px, 1.2, bold, #525252);
                }
                i {
                    color: #d90303;
                    font-size: 25px;
                }
            }
        }
        .summation {
            background: #ffffff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            border-radius: 0px 0px 30px 30px;
            padding: 1rem 1rem calc(2.5rem + 50px) 1rem;
            position: relative;
            .sum {
                @include text(AvenirNextCyr, 24px, 1.2, normal, #1e2329);
                span {
                    font-weight: bold;
                }
            }
            .total {
                @include flex(row, nowrap, center, space-between);
                margin-bottom: 1rem;
                .name {
                    @include text(AvenirNextCyr, 16px, 1.2, normal, #525252);
                }
                .price {
                    @include text(AvenirNextCyr, 16px, 1.2, bold, #525252);
                }
            }
            .purchase-btn {
                @include text(AvenirNextCyr, 18px, 1.2, bold, #ffffff);
                width: 100%;
                height: 50px;
                background: #f5821f;
                border-radius: 50px;
                border: none;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
    section.feedback {
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, #1e2329);
            padding: 1.5rem 0;
            background-image: url(/images/line.png);
            background-repeat: no-repeat;
            background-position: 0 100%;
            background-size: auto;
        }
        .d-flex {
            .form-group {
                flex: 0 0 242px;
                max-width: 242px;
            }
        }
        label {
            @include text(AvenirNextCyr, 16px, 1.2, normal, #000000);
            width: 100%;
            input {
                @include text(AvenirNextCyr, 16px, 1.2, normal, #000000);
                height: 48px;
                border: 1px solid #086f35;
                border-radius: 20px;
                margin-top: 0.5rem;
                &::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #979797;
                    opacity: 1; /* Firefox */
                }

                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: #979797;
                }

                &::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: #979797;
                }
            }
            textarea {
                width: 100%;
                height: 90px;
                resize: none;
                border: 1px solid #086f35;
                box-sizing: border-box;
                border-radius: 20px;
                margin-top: 0.5rem;
                &::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #979797;
                    opacity: 1; /* Firefox */
                }

                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: #979797;
                }

                &::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: #979797;
                }
            }
        }
        button {
            @include text(AvenirNextCyr, 18px, 1.2, bold, #fff);
            height: 50px;
            width: 100%;
            background: #f5821f;
            border-radius: 50px;
            border: none;
        }
    }
    section.contacts {
        padding: 5rem 0 10rem 0;
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, $verydarkblue);
            padding: 1.5rem 0;
            background-image: url("/images/flowerNline.png");
            background-repeat: no-repeat;
            background-position: 50% 100%;
            background-size: auto;
        }
        .contact-item {
            @include flex(column, nowrap, center, flex-start);
            .icon {
                border-radius: 30px;
                background-color: $limegreen;
                width: 90px;
                height: 90px;
                @include flex(row, nowrap, center, center);
                margin-bottom: 1rem;
                object {
                    max-width: 30px;
                    height: 36px;
                }
            }
            h2 {
                @include text(AvenirNextCyr, 17px, 1.278, bold, $verydarkblue);
                text-align: center;
            }
            p,
            a {
                @include text(AvenirNextCyr, 17px, 1.278, 500, $verydarkblue);
                text-align: center;
            }
        }
        .contact-btn {
            background-color: $vividorange;
            @include flex(row, nowrap, center, center);
            @include text(AvenirNextCyr, 16px, 1.2, bold, $white);
            height: 60px;
            border-radius: 30px;
        }
    }
}
@media (max-width: 576px) {
    #cart section.feedback .d-flex .form-group {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 992px) {
    #cart section.cart .cart-item .cart-item-body {
        background: none;
        box-shadow: none;
    }
}
