@import "../utils/mixins";
@import "../utils/variables";

#catalog {
    section.banner {
        background-image: url("/images/catalog-banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 20%;
        background-color: rgba(40, 44, 46, 0.9);
        height: 300px;
        @include flex(row, nowrap, center, flex-start);
        .title {
            @include text(AvenirNextCyr, 45px, 1.2, bold, $white);
            text-align: center;
        }
    }
    section.products {
        background-color: $white;
        .filters {
            border-width: 1px;
            border-color: rgb(224, 224, 224);
            border-style: solid;
            border-radius: 20px;
            background-color: rgb(249, 250, 251);
            padding: 2rem;
            h2 {
                @include text(AvenirNextCyr, 20px, 1.2, bold, $verydarkblue);
                margin-bottom: 1rem;
            }
            .card {
                margin-bottom: 1rem;
                border: none;
                background-color: transparent;
                &:last-child {
                    margin-bottom: 0;
                }
                .card-header {
                    border: none;
                    padding: 0;
                    background-color: transparent;
                    @include flex(row, nowrap, center, space-between);
                    span {
                        cursor: pointer;
                        white-space: nowrap;
                    }
                    .btn {
                        @include text(
                            AvenirNextCyr,
                            16px,
                            1.2,
                            500,
                            $verydarkblue
                        );
                        background-color: transparent;
                        border: none;
                        padding: 0;
                        outline: none;
                        box-shadow: none;
                        @include flex(row, nowrap, center, flex-end);
                        i {
                            font-size: 14px;
                            transition: all 0.2s ease;
                        }
                        &.not-collapsed i {
                            transform: rotate(90deg);
                        }
                    }
                }
                .card-body {
                    margin-top: 0.5rem;
                    padding: 0;
                    background-color: transparent;
                    border: none;
                    ul {
                        list-style: none;
                        li {
                            a {
                                @include text(
                                    AvenirNextCyr,
                                    16px,
                                    1.875,
                                    500,
                                    rgb(124, 129, 135)
                                );
                            }
                        }
                    }
                }
            }
        }
        .product-card {
            @include flex(column, nowrap, stretch, flex-start);
            border-width: 1px;
            border-color: $verylightgray;
            border-style: solid;
            border-radius: 20px;
            background-color: $white;
            padding: 1rem;
            .product-header {
                position: relative;
                a {
                    display: contents;
                }
                img {
                    width: 100%;
                    height: 185px;
                    object-fit: scale-down;
                }
                .tag {
                    @include text(AvenirNextCyr, 14px, 1.2, 500, $white);
                    @include flex(row, nowrap, center, center);
                    background-color: rgb(34, 96, 209);
                    width: 60px;
                    height: 32px;
                    border-radius: 35px;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            .product-body {
                .name {
                    @include text(
                        AvenirNextCyr,
                        16px,
                        1.2,
                        bold,
                        $verydarkblue
                    );
                    text-align: center;
                    margin: 1.5rem 0;
                }
                .cart-btn {
                    @include flex(row, nowrap, center, center);
                    border: none;
                    border-radius: 50%;
                    background-color: rgb(8, 111, 53);
                    max-width: 43px;
                    width: 100%;
                    height: 43px;
                    object {
                        pointer-events: none;
                        width: 19px;
                        height: 19px;
                    }
                }
                .more {
                    @include text(AvenirNextCyr, 14px, 1.2, 500, $white);
                    @include flex(row, nowrap, center, center);
                    border-radius: 20px;
                    background-color: rgb(245, 130, 31);
                    max-width: 170px;
                    width: 100%;
                    height: 41px;
                }
            }
        }
        .select2-container--default .select2-selection--single {
            border-width: 1px;
            border-color: rgb(224, 224, 224);
            border-style: solid;
            border-radius: 17px;
            background-color: rgb(249, 250, 251);
            @include flex(row, nowrap, center, space-between);
            transition: all 0.2s ease;
            padding: 0 10px;
        }
        .select2-container--default.select2-container--open.select2-container--below
            .select2-selection--single,
        .select2-container--default.select2-container--open.select2-container--below
            .select2-selection--multiple {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .select2-container--default
            .select2-selection--single
            .select2-selection__placeholder {
            @include text(AvenirNextCyr, 14px, 1.2, 500, rgb(147, 147, 147));
        }
        .select2-container--default
            .select2-selection--single
            .select2-selection__rendered {
            @include text(AvenirNextCyr, 14px, 1.2, 500, rgb(0, 0, 0));
        }
        .select2-container--default
            .select2-selection--single
            .select2-selection__arrow {
            position: static;
            height: auto;
            width: auto;
        }
        .select2-container--default
            .select2-selection--single
            .select2-selection__arrow
            b {
            display: none;
        }
        .select2-container--default
            .select2-selection--single
            .select2-selection__arrow::before {
            content: "\f078";
            display: inline-block;
            font-family: "Font Awesome 5 Pro";
            font-weight: 500;
            font-size: 12px;
            transition: all 0.2s ease;
        }
        .select2-container--default.select2-container--open
            .select2-selection--single
            .select2-selection__arrow::before {
            transform: rotate(180deg);
        }
    }
    .pagination {
        li {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            @include flex(row, nowrap, center, center);
            @include text(AvenirNextCyr, 14px, 1.2, 500, rgb(26, 26, 26));
            transition: all 0.2s ease;
        }
    }
    .page-item {
        a {
            border-width: 1px;
            border-color: rgb(224, 224, 224);
            border-style: solid;
            border-radius: 17px;
            background-color: rgb(249, 250, 251);
            width: 33px;
            height: 33px;
        }
        &.active {
            a {
                color: $white;
                background-color: rgb(8, 111, 53);
            }
        }
    }
    .prev,
    .next {
        border-width: 1px;
        border-color: rgb(224, 224, 224);
        border-style: solid;
        border-radius: 17px;
        background-color: rgb(249, 250, 251);
        width: 88px;
        height: 33px;
    }
}
.select2-container--open .select2-dropdown--below {
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    border-radius: 17px;
    background-color: rgb(249, 250, 251);
}

@media (max-width: 576px) {
    #catalog section.banner {
        background-position: center;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    #catalog section.products .product-card .product-body .more {
        max-width: 120px;
    }
}
