@import "../utils/mixins";
@import "../utils/variables";

#contacts {
    section.banner {
        background-image: url("/images/contacts-banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 20%;
        background-color: rgba(40, 44, 46, 0.9);
        height: 300px;
        @include flex(row, nowrap, center, flex-start);
        .title {
            @include text(AvenirNextCyr, 45px, 1.2, bold, $white);
            text-align: center;
        }
    }
    section.employees {
        padding: 5rem 0;
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, $verydarkblue);
            padding: 1.5rem 0;
            background-image: url("/images/flowerNline.png");
            background-repeat: no-repeat;
            background-position: 0 50%;
            background-size: auto;
            margin-bottom: 1.5rem;
        }
        h3 {
            @include text(AvenirNextCyr, 25px, 1.2, bold, rgb(30, 35, 41));
            margin-bottom: 1rem;
        }
        p {
            @include text(AvenirNextCyr, 18px, 1.722, 500, rgb(30, 35, 41));
        }
        img {
            border-radius: 20px;
            max-width: 485px;
            width: 100%;
            height: 308px;
            object-fit: cover;
            object-position: top;
            display: block;
            margin: 0 auto;
        }
    }
    section.contacts {
        padding: 5rem 0 5rem 0;
        #map {
            height: 100%;
            .ymaps-2-1-76-inner-panes {
                border-radius: 20px;
            }
        }
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 33px, 1.2, bold, $verydarkblue);
            padding: 1.5rem 0;
            background-image: url("/images/flowerNline.png");
            background-repeat: no-repeat;
            background-position: 0% 50%;
            background-size: auto;
            margin-bottom: 1rem;
        }
        .contact-item {
            @include flex(row, nowrap, center, flex-start);
            margin-bottom: 1rem;
            .icon {
                border-radius: 30px;
                background-color: $limegreen;
                width: 90px;
                height: 90px;
                flex: 0 0 90px;
                @include flex(row, nowrap, center, center);
                margin-right: 1.5rem;
                object {
                    max-width: 30px;
                    height: 36px;
                }
            }
            h2 {
                @include text(AvenirNextCyr, 17px, 1.278, bold, $verydarkblue);
            }
            p,
            a {
                @include text(AvenirNextCyr, 17px, 1.278, 500, $verydarkblue);
            }
        }
    }
    section.feedback {
        padding: 5rem 0 12rem 0;
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, $verydarkblue);
            padding: 1.5rem 0;
            background-image: url("/images/flowerNline.png");
            background-repeat: no-repeat;
            background-position: 50% 100%;
            background-size: auto;
        }
        form {
            input {
                @include text(AvenirNextCyr, 16px, 1.2, 500, rgb(30, 35, 41));
                border-width: 1px;
                border-color: rgb(224, 224, 224);
                border-style: solid;
                border-radius: 24px;
                background-color: rgb(255, 255, 255);
                height: 48px;
                padding: 1rem 1.5rem;
                &::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: rgba(30, 35, 41, 0.42);
                    opacity: 1; /* Firefox */
                }

                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: rgba(30, 35, 41, 0.42);
                }

                &::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: rgba(30, 35, 41, 0.42);
                }
            }
            textarea {
                @include text(AvenirNextCyr, 16px, 1.2, 500, rgb(30, 35, 41));
                border-width: 1px;
                border-color: rgb(224, 224, 224);
                border-style: solid;
                border-radius: 24px;
                background-color: rgb(255, 255, 255);
                height: 148px;
                resize: none;
                padding: 1rem 1.5rem;
                &::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: rgba(30, 35, 41, 0.42);
                    opacity: 1; /* Firefox */
                }

                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: rgba(30, 35, 41, 0.42);
                }

                &::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: rgba(30, 35, 41, 0.42);
                }
            }
            .request-btn {
                @include text(AvenirNextCyr, 16px, 1.2, bold, $white);
                background-color: rgb(245, 130, 31);
                max-width: 199px;
                width: 100%;
                height: 60px;
                border-radius: 30px;
                border: none;
            }
        }
    }
}
@media (max-width: 576px) {
    #contacts section.banner {
        background-position: center;
    }
}

@media (max-width: 768px) {
    #contacts section.contacts #map {
        height: 300px;
    }
    #contacts section.contacts {
        padding: 0;
    }
}
