.forget_title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: AvenirNextCyr;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}