@import "../utils/mixins";
@import "../utils/variables";
@import "../components/slick-theme.scss";
@import "../components/slick.scss";

#home {
    .main-slider {
        background-color: rgba(40, 44, 46, 0.9);
        .container,
        .row {
            height: 640px;
        }
        .slick-slide {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0;
            h1 {
                @include text(AvenirNextCyr, 45px, 1.2, bold, $white);
                text-align: center;
            }
            a {
                @include flex(row, nowrap, center, center);
                @include text(AvenirNextCyr, 16px, 1.2, bold, $white);
                background-color: $vividorange;
                width: 100%;
                max-width: 200px;
                height: 60px;
                border-radius: 35px;
                margin-top: 3rem;
            }
        }
        .slick-dots {
            max-width: fit-content;
            bottom: 40px;
            & li button:before {
                @include flex(row, nowrap, center, center);
                border-width: 1px;
                border-color: rgb(255, 255, 255);
                border-style: solid;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                font-size: 8px;
                transition: all 0.3s ease;
                color: transparent;
            }
            & li.slick-active button:before {
                border-width: 2px;
                border-radius: 50%;
                color: rgb(245, 130, 31);
            }
        }
    }
    section.about {
        padding: 5rem 0;
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, $verydarkblue);
            padding: 1.5rem 0;
            background-image: url("/images/flowerNline.png");
            background-repeat: no-repeat;
            background-position: 0 50%;
            background-size: auto;
        }
        h2 {
            @include text(AvenirNextCyr, 25px, 1.2, bold, $verydarkblue);
            margin-bottom: 1.5rem;
        }
        p {
            @include text(AvenirNextCyr, 18px, 1.2, 500, $verydarkblue);
            margin-bottom: 1rem;
        }
        .test {
            position: relative;
            border-radius: 30px;
            background-color: $limegreen;
            height: 250px;
            width: 100%;
            background-image: url("/images/flower.png");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: -140% 100%;
            h2 {
                @include text(AvenirNextCyr, 22px, 1.2, normal, #1e2329);
                text-align: center;
                position: absolute;
                top: 10%;
            }
            button:not(.close-btn) {
                font-family: AvenirNextCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 27px;
                color: #096b34;
                height: 50px;
                background: #ffffff;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 50px;
                border: none;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
            .cut {
                background-color: $white;
                padding: 6px;
                max-width: 200px;
                margin: auto;
                height: 250px;
                position: absolute;
                bottom: 30%;
                left: 0;
                right: 0;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
                a {
                    @include flex(row, nowrap, center, center);
                    border-style: dashed;
                    border-color: $verylightgray;
                    border-width: 2px;
                    height: 100%;
                    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
                    position: relative;
                    object {
                        pointer-events: none;
                    }
                }
            }
            .card {
                border: none;
                background: #ffffff;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            }
            .btn-secondary:not(:disabled):not(.disabled):active,
            .btn-secondary:not(:disabled):not(.disabled).active,
            .show > .btn-secondary.dropdown-toggle {
                background-color: unset;
                border: unset;
                color: unset;
            }
            .btn-secondary:not(:disabled):not(.disabled):active:focus,
            .btn-secondary:not(:disabled):not(.disabled).active:focus,
            .show > .btn-secondary.dropdown-toggle:focus {
                box-shadow: unset;
            }
            .card-header {
                height: 38px;
                border: none;
                background: #086f35;
                font-family: AvenirNextCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 131.77%;
                color: #ffffff;
                padding: 0 1rem;
                @include flex(row, nowrap, center, flex-start);
                cursor: pointer;
            }

            .card-body {
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                ul {
                    padding: 0;
                    list-style: none;
                    li {
                        margin-bottom: 1rem;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        label {
                            font-family: AvenirNextCyr;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 20px;
                            color: #4d4d4d;
                            @include flex(row, nowrap, center, flex-start);
                            input {
                                margin-right: 0.5rem;
                                margin-top: 0;
                                height: unset;
                            }
                        }
                    }
                }
            }
            .vm--modal {
                background: #ffffff;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                .form-group--error {
                    animation-name: shakeError;
                    animation-fill-mode: forwards;
                    animation-duration: 0.6s;
                    animation-timing-function: ease-in-out;
                    position: relative;
                }
                .error {
                    color: #de293a;
                }
                .close-btn {
                    border: none;
                    background: none;
                    position: absolute;
                    right: 1rem;
                    i {
                        color: #086f35;
                        font-size: 16px;
                    }
                }
                h1 {
                    font-family: AvenirNextCyr;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 1.2;
                }
                label {
                    span {
                        font-family: AvenirNextCyr;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 1.2;
                    }
                    text-align: left;
                    width: 100%;
                    input {
                        font-family: AvenirNextCyr;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 1.2;
                        border: 1px solid #086f35;
                        border-radius: 20px;
                        height: 48px;
                        margin-top: 0.5rem;
                        &::placeholder {
                            color: #979797;
                            opacity: 1;
                        }

                        &:-ms-input-placeholder {
                            color: #979797;
                        }

                        &::-ms-input-placeholder {
                            color: #979797;
                        }
                    }
                }
                button[type="submit"] {
                    position: static;
                    font-family: AvenirNextCyr;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 1.2;
                    width: 100%;
                    height: 50px;
                    background: #f5821f;
                    border-radius: 50px;
                    color: #ffffff;
                    border: none;
                    &:disabled {
                        background-color: #f8f8f8;
                        color: #e6d2fa;
                    }
                }
                a {
                    font-family: AvenirNextCyr;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 1.2;
                    text-decoration-line: underline;
                    color: #086f35;
                }
            }
        }
    }
    section.advantages {
        padding-bottom: 5rem;
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, $verydarkblue);
            padding: 1.5rem 0;
            background-image: url("/images/line.png");
            background-repeat: no-repeat;
            background-position: 50% 100%;
            background-size: auto;
        }

        .advantage-item {
            position: relative;
            border-radius: 20px;
            background-color: $limegreen;
            height: 250px;
            width: 100%;
            background-image: url("/images/flower.png");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: -140% 100%;
            &.even {
                align-self: flex-end;
                .cut {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
                    a {
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
                    }
                }
            }
            h2 {
                @include text(AvenirNextCyr, 16px, 1.2, bold, $white);
                text-align: center;
                position: absolute;
                bottom: 10%;
            }
            .cut {
                background-color: $white;
                padding: 6px;
                max-width: 200px;
                margin: auto;
                height: 250px;
                clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
                position: absolute;
                bottom: 30%;
                left: 0;
                right: 0;
                a {
                    @include flex(row, nowrap, center, center);
                    border-style: dashed;
                    border-color: $verylightgray;
                    border-width: 2px;
                    height: 100%;
                    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
                    position: relative;
                    object {
                        pointer-events: none;
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
    section.products {
        padding: 5rem 0 10rem 0;
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, $verydarkblue);
            padding: 1.5rem 0;
            background-image: url("/images/flowerNline.png");
            background-repeat: no-repeat;
            background-position: 0 50%;
            background-size: auto;
        }
        .arrows {
            background-color: $vividorange;
            max-width: 165px;
            height: 60px;
            border-radius: 30px;
            padding: 0 0.5rem;
            @include flex(row, nowrap, center, space-between);
            .progress {
                background-color: $white;
                max-width: 52px;
                width: 100%;
                height: 2px;
            }
            .slick-arrow {
                border: none;
                background-color: transparent;
                position: static;
                padding: 0 1rem;
                &::before {
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 1;
                    color: $white;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
                &.prev::before {
                    content: "\F053";
                }
                &.next::before {
                    content: "\F054";
                }
            }
        }
        .products-slider {
            .slick-slide {
                margin: 0 10px;
                height: inherit;
            }
            .product-card {
                @include flex(column, nowrap, stretch, flex-start);
                border-width: 1px;
                border-color: $verylightgray;
                border-style: solid;
                border-radius: 20px;
                background-color: $white;
                padding: 1rem;
                .product-header {
                    position: relative;
                    a {
                        display: contents;
                    }
                    img {
                        width: 100%;
                        height: 185px;
                        object-fit: scale-down;
                    }
                    .tag {
                        @include text(AvenirNextCyr, 14px, 1.2, 500, $white);
                        @include flex(row, nowrap, center, center);
                        background-color: rgb(34, 96, 209);
                        width: 60px;
                        height: 32px;
                        border-radius: 35px;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
                .product-body {
                    .name {
                        @include text(
                            AvenirNextCyr,
                            16px,
                            1.2,
                            bold,
                            $verydarkblue
                        );
                        text-align: center;
                        margin: 1.5rem 0;
                    }
                    .cart-btn {
                        @include flex(row, nowrap, center, center);
                        border: none;
                        border-radius: 50%;
                        background-color: rgb(8, 111, 53);
                        max-width: 43px;
                        width: 100%;
                        height: 43px;
                        object {
                            pointer-events: none;
                            width: 19px;
                            height: 19px;
                        }
                    }
                    .more {
                        @include text(AvenirNextCyr, 14px, 1.2, 500, $white);
                        @include flex(row, nowrap, center, center);
                        border-radius: 20px;
                        background-color: rgb(245, 130, 31);
                        max-width: 170px;
                        width: 100%;
                        height: 41px;
                    }
                }
            }
        }
    }
    section.news {
        padding: 5rem 0;
        background-color: $verydarkblue;
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 3, bold, $white);
            background-image: url("/images/flowerNline2.png");
            background-repeat: no-repeat;
            background-position: 0 50%;
            background-size: auto;
        }
        .arrows {
            background-color: $vividorange;
            max-width: 165px;
            height: 60px;
            border-radius: 30px;
            padding: 0 0.5rem;
            @include flex(row, nowrap, center, space-between);
            .progress {
                background-color: $white;
                max-width: 52px;
                width: 100%;
                height: 2px;
            }
            .slick-arrow {
                border: none;
                background-color: transparent;
                position: static;
                padding: 0 1rem;
                &::before {
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 1;
                    color: $white;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
                &.prev::before {
                    content: "\F053";
                }
                &.next::before {
                    content: "\F054";
                }
            }
        }
        .news-slider {
            .slick-track {
                display: flex;
            }
            .slick-slide {
                margin: 0 10px;
                height: inherit;
            }
            .news-card {
                @include flex(column, nowrap, stretch, flex-start);
                border-radius: 20px;
                background-color: $white;
                border-radius: 20px;
                .news-header {
                    a {
                        display: contents;
                    }
                    img {
                        width: 100%;
                        border-radius: 20px;
                        background-color: $mostlydarkblue;
                        height: 220px;
                        object-fit: cover;
                    }
                }
                .news-body {
                    padding: 1rem;
                    .date {
                        display: block;
                        @include text(
                            AvenirNextCyr,
                            14px,
                            1.2,
                            500,
                            $darkgrayishblue
                        );
                        margin-bottom: 0.5rem;
                    }
                    .name {
                        @include text(
                            AvenirNextCyr,
                            16px,
                            1.2,
                            sec bold,
                            $verydarkblue
                        );
                    }
                }
            }
        }
    }
    section.contacts {
        padding: 5rem 0 10rem 0;
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, $verydarkblue);
            padding: 1.5rem 0;
            background-image: url("/images/flowerNline.png");
            background-repeat: no-repeat;
            background-position: 50% 100%;
            background-size: auto;
        }
        .contact-item {
            @include flex(column, nowrap, center, flex-start);
            .icon {
                border-radius: 30px;
                background-color: $limegreen;
                width: 90px;
                height: 90px;
                @include flex(row, nowrap, center, center);
                margin-bottom: 1rem;
                object {
                    max-width: 30px;
                    height: 36px;
                }
            }
            h2 {
                @include text(AvenirNextCyr, 17px, 1.278, bold, $verydarkblue);
                text-align: center;
            }
            p,
            a {
                @include text(AvenirNextCyr, 17px, 1.278, 500, $verydarkblue);
                text-align: center;
            }
        }
        .contact-btn {
            background-color: $vividorange;
            @include flex(row, nowrap, center, center);
            @include text(AvenirNextCyr, 16px, 1.2, bold, $white);
            height: 60px;
            border-radius: 30px;
        }
    }
}
@media (max-width: 992px) {
    #home section.advantages .advantage-item {
        transition-delay: 0s;
    }
    #home section.about .test {
        margin-top: 75px;
    }
}

@media (max-width: 576px) {
    #home .main-slider .slick-slide {
        background-position: center;
    }
    #header .minor-nav ul li .lang li + li::before {
        display: inline !important;
    }
}
