@import "../utils/mixins";
@import "../utils/variables";

#news {
    background-color: #fff;
    .pagination {
        li {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
        span, a {
            @include flex(row, nowrap, center, center);
            @include text(AvenirNextCyr, 14px, 1.2, 500, rgb(26, 26, 26));
            transition: all 0.2s ease;
        }
    }
    .page-item {
        span, a {
            border-width: 1px;
            border-color: rgb(224, 224, 224);
            border-style: solid;
            border-radius: 17px;
            background-color: rgb(249, 250, 251);
            width: 33px;
            height: 33px;
        }
        &.active {
            span, a {
                color: $white;
                background-color: rgb(8, 111, 53);
            }
        }
    }
    .prev,
    .next {
        border-width: 1px;
        border-color: rgb(224, 224, 224);
        border-style: solid;
        border-radius: 17px;
        background-color: rgb(249, 250, 251);
        width: 88px;
        height: 33px;
    }
    section.banner {
        background-image: url("/images/news-banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 20%;
        background-color: rgba(40, 44, 46, 0.9);
        height: 300px;
        @include flex(row, nowrap, center, flex-start);
        .title {
            @include text(AvenirNextCyr, 45px, 1.2, bold, $white);
            text-align: center;
        }
    }
    section.news {
        padding: 3rem 0;

        .news-card {
            margin-bottom: 1rem;
            @include flex(row, wrap, stretch, flex-start);
            border-radius: 20px;
            background-color: rgb(250, 250, 250);
            min-height: 365px;
            img {
                border-radius: 20px;
                max-width: 485px;
                width: 100%;
                height: 365px;
                object-fit: cover;
                object-position: top;
            }
            .date {
                @include text(
                    AvenirNextCyr,
                    16px,
                    1.2,
                    500,
                    rgb(138, 143, 148)
                );
                margin-bottom: 0.5rem;
            }
            .title {
                display: inline-block;
                @include text(AvenirNextCyr, 25px, 1.2, bold, rgb(30, 35, 41));
                margin-bottom: 1rem;
            }
            .content {
                @include text(AvenirNextCyr, 16px, 1.68, 500, rgb(30, 35, 41));
            }
        }
    }
    section.contacts {
        padding: 2rem 0 10rem 0;

        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, $verydarkblue);
            padding: 1.5rem 0;
            background-image: url("/images/flowerNline.png");
            background-repeat: no-repeat;
            background-position: 50% 100%;
            background-size: auto;
        }
        .contact-item {
            @include flex(column, nowrap, center, flex-start);
            .icon {
                border-radius: 30px;
                background-color: $limegreen;
                width: 90px;
                height: 90px;
                @include flex(row, nowrap, center, center);
                margin-bottom: 1rem;
                object {
                    max-width: 30px;
                    height: 36px;
                }
            }
            h2 {
                @include text(AvenirNextCyr, 17px, 1.278, bold, $verydarkblue);
                text-align: center;
            }
            p,
            a {
                @include text(AvenirNextCyr, 17px, 1.278, 500, $verydarkblue);
                text-align: center;
            }
        }
        .contact-btn {
            background-color: $vividorange;
            @include flex(row, nowrap, center, center);
            @include text(AvenirNextCyr, 16px, 1.2, bold, $white);
            height: 60px;
            border-radius: 30px;
        }
    }
}

@media (max-width: 576px) {
    #news section.banner {
        background-position: center;
    }
}
