@import "../utils/mixins";
@import "../utils/variables";

#personal {
    section.banner {
        background-image: url("/images/personal-banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 20%;
        background-color: rgba(40, 44, 46, 0.9);
        height: 300px;
        @include flex(row, nowrap, center, flex-start);
        .title {
            @include text(AvenirNextCyr, 45px, 1.2, bold, $white);
            text-align: center;
        }
    }
    section.orders {
        .container {
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .header-row {
            border-width: 1px;
            border-color: rgb(224, 224, 224);
            border-style: solid;
            border-radius: 20px;
            background-color: rgb(249, 250, 251);
            height: 48px;
            h5 {
                @include text(AvenirNextCyr, 14px, 1.2, 500, rgb(30, 35, 41));
            }
        }
        .body-row {
            border-width: 1px;
            border-color: rgb(224, 224, 224);
            border-style: solid;
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            height: 98px;
            .product-photo {
                width: 96px;
                height: 67px;
                object-fit: contain;
            }
            .product-name {
                @include text(AvenirNextCyr, 16px, 1.2, bold, rgb(30, 35, 41));
            }
            .quantity-controls {
                @include flex(row, nowrap, center, flex-start);
                border-width: 1px;
                border-color: rgb(224, 224, 224);
                border-style: solid;
                background-color: rgb(249, 250, 251);
                max-width: 138px;
                height: 38px;
                border-radius: 30px;
                width: 100%;
                height: 54px;
                overflow: hidden;
                button {
                    @include text(
                        AvenirNextCyr,
                        20px,
                        1,
                        400,
                        rgb(224, 224, 224)
                    );
                    background-color: transparent;
                    border: none;
                    height: 100%;
                    width: 46px;
                }
                input {
                    @include text(
                        AvenirNextCyr,
                        14px,
                        1.2,
                        500,
                        rgb(26, 26, 26)
                    );
                    min-width: 25px;
                    text-align: center;
                    border: none;
                    width: 100%;
                }
                label {
                    @include flex(row, nowrap, center, space-between);
                    @include text(
                        AvenirNextCyr,
                        14px,
                        1.2,
                        500,
                        rgb(26, 26, 26)
                    );
                    width: 56px;
                }
            }
            .order-status {
                font-size: 16px;
                font-family: "AvenirNextCyr";
                line-height: 1.2;
                font-weight: 500;
            }
            .manager-name {
                @include text(AvenirNextCyr, 16px, 1.2, 500, rgb(30, 35, 41));
            }
            .cart-btn {
                @include text(
                    AvenirNextCyr,
                    14px,
                    1.2,
                    500,
                    rgb(255, 255, 255)
                );
                border-radius: 20px;
                background-color: rgb(245, 130, 31);
                max-width: 170px;
                width: 100%;
                height: 41px;
                border: none;
            }
        }
    }
}

@media (max-width: 576px) {
    #personal section.banner {
        background-position: center;
    }
}

@media (max-width: 992px) {
    #personal section.orders .header-row,
    #personal section.orders .body-row {
        border: none;
        border-radius: 0;
        background-color: transparent;
    }
    #personal section.orders .container {
        border-width: 1px;
        border-color: rgb(224, 224, 224);
        border-style: solid;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
    }
}
