@import "../utils/mixins";
@import "../utils/variables";

#services {
    background-color: #fff;
    section.banner {
        background-image: url("/images/services-banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 20%;
        background-color: rgba(40, 44, 46, 0.9);
        height: 300px;
        @include flex(row, nowrap, center, flex-start);
        .title {
            @include text(AvenirNextCyr, 45px, 1.2, bold, $white);
            text-align: center;
        }
    }
    section.content {
        padding: 5rem 0 10rem 0;
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, $verydarkblue);
            padding: 1.5rem 0;
            background-image: url("/images/flowerNline.png");
            background-repeat: no-repeat;
            background-position: 0 50%;
            background-size: auto;
            margin-bottom: 1rem;
            text-transform: capitalize;
        }
        h3 {
            @include text(AvenirNextCyr, 25px, 1.2, bold, rgb(30, 35, 41));
        }
        p {
            @include text(AvenirNextCyr, 18px, 1.722, 500, rgb(30, 35, 41));
            margin-bottom: 1.5rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        img {
            border-radius: 20px;
            max-width: 485px;
            width: 100%;
            object-fit: cover;
            object-position: top;
            display: block;
            margin: 0 auto;
        }
    }
    section.services {
        padding: 0 0 5rem 0;
        .title {
            display: inline-block;
            @include text(AvenirNextCyr, 35px, 1.2, bold, $verydarkblue);
            padding: 1.5rem 0;
            background-image: url("/images/flowerNline.png");
            background-repeat: no-repeat;
            background-position: 0% 50%;
            background-size: auto;
            margin-bottom: 1rem;
        }
        ul {
            @include flex(row, wrap, stretch, space-between);
            padding-left: 0;
            list-style: none;
            li {
                @include flex(row, nowrap, center, flex-start);
                flex: 0 0 19.55%;
                max-width: 19.55%;
                border-radius: 10px;
                background-color: rgb(8, 111, 53);
                height: 80px;
                padding: 0 15px;
                margin-bottom: 5px;
                p {
                    @include text(AvenirNextCyr, 18px, 1.2, 500, $white);
                    position: relative;
                }
                i {
                    color: rgb(245, 130, 31);
                    margin-right: 1rem;
                }
            }
        }
    }
    section.news {
        padding: 3rem 0;
        .news-card {
            @include flex(row, wrap, stretch, flex-start);
            min-height: 365px;
            img {
                border-radius: 20px;
                max-width: 485px;
                width: 100%;
                height: 365px;
                object-fit: cover;
                object-position: top;
            }
            .title {
                display: inline-block;
                @include text(AvenirNextCyr, 25px, 1.2, bold, rgb(30, 35, 41));
                margin-bottom: 1rem;
            }
            .content {
                @include text(AvenirNextCyr, 16px, 1.68, 500, rgb(30, 35, 41));
            }
        }
    }
}
@media (max-width: 576px) {
    #services section.banner {
        background-position: center;
    }
    #services section.content {
        padding: 5rem 0 8rem 0;
    }
    #services section.services ul li {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    #services section.services ul li {
        flex: 0 0 49%;
        max-width: 49%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    #services section.services ul li {
        flex: 0 0 32%;
        max-width: 32%;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    #services section.services ul li p {
        white-space: pre-wrap;
        word-break: break-all;
    }
}
