.breadcrumb {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    .breadcrumb-item:not(.active) {
        @include text(Gilroy, 14px, 2.143, 500, rgb(243, 81, 69));
        text-decoration: underline;
        a {
            color: inherit;
        }
    }
    .breadcrumb-item.active {
        @include text(Gilroy, 14px, 2.143, 500, rgb(84, 84, 84));
    }
}
