body {
    position: relative;
    background-color: $mostlylightgray;
}
#footer {
    // display: none;
    &.footer-stick {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -ms-transform-transform: translateY(0%);
    }
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -ms-transform-transform: translateY(100%);
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid $verylightgray;
    transition: all 0.3s ease-in-out;
    p {
        @include text(AvenirNextCyr, 14px, 1.2, 500, $verydarkblue);
        @include flex(row, wrap, center, flex-start);
        a {
            display: contents;
            img {
                margin-left: 0.5rem;
                width: 67px;
                height: 19px;
                object-fit: none;
            }
        }
    }
    .logo {
        display: block;
        max-width: 65px;
        height: 60px;
        width: 100%;
    }
    object {
        pointer-events: none;
    }
}
