#app {
    overflow-x: hidden;
}
// nav
.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
    background: #086f35;
}
.hc-offcanvas-nav li:not(.custom-content) a {
    border-bottom: 1px solid #fff;
}
.hc-offcanvas-nav h2 {
    @include text(AvenirNextCyr, 20px, 1.2, 700, #fff);
}
.hc-offcanvas-nav li:not(.custom-content) a {
    @include text(AvenirNextCyr, 15px, 1.2, 500, #fff);
}
// trigger
.hc-nav-trigger {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}
.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
    background: #f5821f;
}
@keyframes shakeError {
    0% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(0.375rem);
    }
    30% {
        transform: translateX(-0.375rem);
    }
    45% {
        transform: translateX(0.375rem);
    }
    60% {
        transform: translateX(-0.375rem);
    }
    75% {
        transform: translateX(0.375rem);
    }
    90% {
        transform: translateX(-0.375rem);
    }
    100% {
        transform: translateX(0);
    }
}
#header {
    object {
        pointer-events: none;
    }
    .main-nav {
        height: 100%;
        &.kazakh {
            ul {
                li {
                    flex: 0;
                }
            }
        }
        ul {
            height: 100%;
            @include flex(row, wrap, center, space-between);
            padding-left: 0;
            list-style: none;
            li {
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                &.active {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        background-color: $vividorange;
                        height: 2px;
                        left: 0;
                    }
                    a {
                        color: $vividorange;
                    }
                }
                a {
                    @include text(AvenirNextCyr, 12.5px, 1.2, normal, $white);
                    transition: all 0.3s ease;
                    &:hover {
                        color: $vividorange;
                    }
                }
            }
        }
    }
    .logo {
        display: block;
        width: 100%;
        max-width: 65px;
        margin: auto;
        object {
            width: 100%;
        }
    }
    .minor-nav {
        ul {
            @include flex(row, nowrap, center, space-between);
            padding-left: 0;
            list-style: none;
            li {
                a {
                    @include text(AvenirNextCyr, 12.5px, 1.2, normal, $white);
                    transition: all 0.3s ease;
                    &:hover {
                        color: $vividorange;
                        object {
                            filter: invert(58%) sepia(29%) saturate(3014%)
                                hue-rotate(349deg) brightness(101%)
                                contrast(92%);
                        }
                    }
                    object {
                        width: 20px;
                        height: 20px;
                        margin-right: 0.5rem;
                        transition: all 0.3s ease;
                    }
                }
                .lang {
                    @include flex(row, nowrap, stretch, flex-start);
                    padding-left: 0;
                    list-style: none;
                    li {
                        a {
                            @include text(
                                AvenirNextCyr,
                                14px,
                                1.2,
                                normal,
                                rgba(255, 255, 255, 0.5)
                            );
                            &:hover {
                                color: rgb(255, 255, 255);
                            }
                        }
                        & + li {
                            margin-left: 0.25rem;
                        }
                        & + li::before {
                            display: inline-block;
                            color: rgba(255, 255, 255, 0.5);
                            content: "|";
                            margin-right: 0.25rem;
                        }
                        &.active {
                            a {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        .vm--modal {
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            .form-group--error {
                animation-name: shakeError;
                animation-fill-mode: forwards;
                animation-duration: 0.6s;
                animation-timing-function: ease-in-out;
                position: relative;
            }
            .error {
                color: #de293a;
            }
            .close-btn {
                border: none;
                background: none;
                position: absolute;
                right: 1rem;
                i {
                    color: #086f35;
                    font-size: 16px;
                }
            }
            h1 {
                font-family: AvenirNextCyr;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 1.2;
            }
            label {
                span {
                    font-family: AvenirNextCyr;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.2;
                }
                text-align: left;
                width: 100%;
                input {
                    font-family: AvenirNextCyr;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.2;
                    border: 1px solid #086f35;
                    border-radius: 20px;
                    height: 48px;
                    margin-top: 0.5rem;
                    &::placeholder {
                        color: #979797;
                        opacity: 1;
                    }

                    &:-ms-input-placeholder {
                        color: #979797;
                    }

                    &::-ms-input-placeholder {
                        color: #979797;
                    }
                }
            }
            button[type="submit"] {
                font-family: AvenirNextCyr;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 1.2;
                width: 100%;
                height: 50px;
                background: #f5821f;
                border-radius: 50px;
                color: #ffffff;
                border: none;
                &:disabled {
                    background-color: #f8f8f8;
                    color: #08050b;
                }
            }
            a {
                font-family: AvenirNextCyr;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 1.2;
                text-decoration-line: underline;
                color: #086f35;
            }
        }
    }

    .download-link {
        @include flex(row, nowrap, center, center);
        @include text(AvenirNextCyr, 14px, 1.2, bold, $white);
        text-align: center;
        max-width: 153px;
        width: 100%;
        height: 50px;
        border-radius: 35px;
        background: lighten($vividorange, 3%);
        border: 1px solid darken($vividorange, 4%);
        box-shadow: 0px 0px 3px darken($vividorange, 5%),
            0px 0px 3px darken($vividorange, 2%);
        transition: all 150ms linear;
        &:hover {
            background: darken($vividorange, 1.5%);
            border: 1px solid rgba(#000, 0.05);
            box-shadow: 0 0 2px rgba(#fff, 0.2);
            color: lighten($vividorange, 18%);
            text-decoration: none;
            text-shadow: -1px -1px 0 darken($vividorange, 9.5%);
            transition: all 250ms linear;
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #header .minor-nav ul li a object {
        width: 13px;
        height: 13px;
    }
}

@media (max-width: 992px) {
    #header .main-nav {
        display: none;
    }
}
