<template>
  <section class="cart">
    <div class="container">
      <div class="row mb-4">
        <div class="col-xl-12 col-12">
          <h1 class="title">{{ cartTranslate.cart }}</h1>
        </div>
      </div>
      <div class="row" v-if="products.length">
        <div class="col-xl-8 col-lg-8 mb-4 mb-lg-0 col-12 overflow-x-scroll">
          <div class="cart-item">
            <div class="row cart-item-head flex-nowrap">
              <div class="col-xl-5 col-lg-5 col-md-6 col-sm-8 col-10 px-0">
                <div class="background-limegreen py-2 px-3">
                  <h5>{{ cartTranslate.items }}</h5>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 px-1">
                <div class="background-limegreen d-flex justify-content-center py-2 px-3">
                  <h5>{{ cartTranslate.quantity }}</h5>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col-8 px-0">
                <div class="background-limegreen py-2 px-5">
                  <h5>{{ cartTranslate.price }}</h5>
                </div>
              </div>
            </div>
            <div
              class="row cart-item-body flex-nowrap py-3 mb-3"
              v-for="(product, index) in products"
              :key="index"
            >
              <div
                class="col-xl-5 col-lg-5 col-md-6 col-sm-8 col-10 px-3 d-flex align-items-center justify-content-between"
              >
                <input
                  v-model="
                                        selectedProducts[index].is_selected
                                    "
                  @change="setTotalPrice"
                  class="form-check-input position-static m-0"
                  type="checkbox"
                  value
                />
                <img
                  :src="
                                        `/storage/${product.main_image.image_path}`
                                    "
                  :alt="product.title"
                />
                <h2 class="name">{{ product.title }}</h2>
              </div>
              <div
                class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 px-3 d-flex align-items-center justify-content-center"
              >
                <div class="quantity-controls">
                  <button type="button" class="decrease" @click="decreaseQuantity(product.id)">-</button>
                  <label>
                    <input type="number" v-model="product.quantity" disabled="disabled" />
                      {{ lang === 'en' ? product.dimension : '' }}{{ lang === 'ru' ? 'п.е.' : '' }}
                      {{ lang === 'kz' ? 'е.б.' : '' }}
                  </label>
                  <button type="button" class="increase" @click="increaseQuantity(product.id)">+</button>
                </div>
              </div>
              <div
                class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col-8 px-5 d-flex align-items-center justify-content-between"
              >
                <p class="price">
                  {{
                  (
                  product.price * product.quantity
                  ).toLocaleString()
                  }}
                  {{ cartTranslate.currency }}
                </p>
                <i
                  class="fal fa-trash-alt"
                  role="button"
                  @click="removeProductFromCart(product.id)"
                ></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-12">
          <div class="summation">
            <div
              class="total"
              v-for="(product, index) in products"
              :key="index"
              v-if="selectedProducts[index].is_selected"
            >
              <h2 class="name">{{ product.title }}:</h2>
              <p class="price">
                {{
                (
                product.price * product.quantity
                ).toLocaleString()
                }}
                {{ cartTranslate.currency }}
              </p>
            </div>
            <p class="sum">
              {{ cartTranslate.total }}
              <span>{{ totalPrice }} {{ cartTranslate.currency }}</span>
            </p>
            <router-link :to="totalPrice > 0 ? { name: 'Feedback' } : {}" style="display: contents">
              <button type="button" class="purchase-btn">{{ cartTranslate.pay }}</button>
            </router-link>
          </div>
        </div>
      </div>
      <div class="row" v-else>
        <div class="col-12 d-flex align-items-center justify-content-center">
          <h4>{{cartTranslate.empty}}</h4>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      cartTranslate: "",
      lang :null,
    };
  },
  name: "Cart",
  computed: {
    ...mapState({
      products: (state) => state.cart.products,
      selectedProducts: (state) => state.cart.selectedProducts,
      totalPrice: (state) => state.cart.totalPrice,
    }),
  },
  props: ["cartLang"],
  methods: {
    ...mapActions("cart", [
      "removeProductFromCart",
      "increaseQuantity",
      "decreaseQuantity",
      "setTotalPrice",
    ]),
  },
  created() {
    let parametrs = {};
    parametrs.basket = JSON.parse(localStorage.getItem("basket"));
    parametrs.user_id = localStorage.getItem("user_id");
    this.$store.dispatch("cart/fetchProducts", parametrs);
    this.cartTranslate = this.cartLang;
    if(this.cartTranslate.agronomy_service === "Агрономические Услуги"){

        this.lang = 'ru'

    }

      if(this.cartTranslate.agronomy_service === "Агрономиялық қызметтер"){

          this.lang = 'kz'

      }

      if(this.cartTranslate.agronomy_service === "Agronomy Services"){
          this.lang = 'en'
      }


  },
};
</script>

<style lang="scss" scoped></style>
