<template>
  <section class="feedback">
    <div class="container">
      <div class="row mb-4">
        <div class="col-xl-12 col-12">
          <h1 class="title">{{cartTranslate.feed_back}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-9 col-sm-12 col-12">
          <form @submit.prevent="checkout($event)">
            <div class="d-flex flex-wrap justify-content-between">
              <div class="form-group">
                <label>
                  {{cartTranslate.name}}
                  <input
                    v-model="username"
                    name="name"
                    class="form-control"
                    type="text"
                    :placeholder="cartTranslate.name_placeholder"
                  />
                </label>
              </div>
              <div class="form-group">
                <label>
                  {{cartTranslate.phone}}
                  <input
                    v-model="phone"
                    name="phone"
                    class="form-control"
                    type="tel"
                    v-mask="'+7 ### ### ## ##'"
                    :placeholder="cartTranslate.phone_placeholder"
                  />
                </label>
              </div>
            </div>
            <div class="form-group mb-4">
              <label>
                {{cartTranslate.message}}
                <textarea
                  name="message"
                  class="form-control"
                  :placeholder="cartTranslate.message_placeholder"
                ></textarea>
              </label>
            </div>
            <div class="form-group">
              <button type="submit">{{cartTranslate.send}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data(){
    return{
        cartTranslate:""
    }
  },
  name: "Feedback",
  computed: {
    ...mapState({
      username: (state) => state.personal.username,
      phone: (state) => state.personal.phone,
      email: (state) => state.personal.email,
    }),
  },
  props:["cartLang"],
  methods: {
    checkout(e) {
      let data = new FormData(e.target);
      this.$store.dispatch("cart/checkout", data);
    },
  },
    created() {
      this.cartTranslate = this.cartLang
    }
};
</script>

<style lang="scss" scoped></style>
