<template>
    <div id="cart">
        <transition name="slide-fade">
            <router-view :cartLang="cart" />
        </transition>
    </div>
</template>

<script>
export default {
    props: ['cart']
};
</script>

<style lang="scss" scoped>
.slide-fade-enter-active {
    transition: all 0.5s ease;
    transition-delay: 0.5s;
}
.slide-fade-leave-active {
    transition: all 0.5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(-20px);
    opacity: 0;
}
</style>
