<template>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-12 mb-5 mb-md-0">
        <div class="filters" role="tablist">
          <h2>{{ JSON.parse(cataloglocal).filter }}</h2>
          <b-card no-body v-for="(category, index) in this.categories" :key="index">
            <b-card-header header-tag="div" role="tab">
              <span @click="sortByCategory(category.id)">
                {{
                category.title
                }}
              </span>
              <b-button block v-b-toggle="`accordion_${index}`">
                <i class="fal fa-chevron-right"></i>
              </b-button>
            </b-card-header>
            <b-collapse :id="`accordion_${index}`" :visible="index == 0" role="tabpanel">
              <b-card-body>
                <ul>
                  <li
                    v-for="(subcategory,
                                        index) in category.subcategories"
                    :key="index"
                  >
                    <a
                      href="javascript:void(0);"
                      @click="
                                                sortBySubcategory(
                                                    subcategory.id
                                                )
                                            "
                    >{{ subcategory.title }}</a>
                  </li>
                </ul>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-8 col-sm-7 col-12">
        <div class="row justify-content-end">
          <div
            class="col-xl-4 col-lg-5 col-md-8 col-sm-11 col-10 d-flex justify-content-between flex-wrap align-items-stretch"
          >
            <select2
              :options="sorters"
              :settings="{
                                minimumResultsForSearch: -1,
                                placeholder: JSON.parse(cataloglocal).sortTitle,
                                width: '130px'
                            }"
              v-model="selectedSorter"
              @change="sortBy(selectedSorter)"
            />
            <select2
              :options="quantities"
              :settings="{
                                minimumResultsForSearch: -1,
                                placeholder: JSON.parse(cataloglocal).showTitle,
                                width: '115px'
                            }"
              v-model="selectedQuantity"
              @change="showBy(selectedQuantity)"
            />
          </div>
        </div>
        <div class="row">
          <div
            class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mt-4"
            v-for="(product, index) in this.products"
            :key="index"
          >
            <div class="product-card" data-aos="fade-up" data-aos-duration="1000">
              <div class="product-header">
                <a :href="`/product/${product.id}/${local}`">
                  <img :src="`/storage/${product.main_image}`" alt="Corn" />
                  <span class="tag" v-if="product.action">{{ product.action }}</span>
                </a>
              </div>
              <div class="product-body">
                <h2 class="name">{{ product.title }}</h2>
                <div class="d-flex justify-content-between align-items-stretch">
                  <button
                    class="cart-btn"
                    @click="
                                            addToCart({
                                                product_id: product.id,
                                                success_msg: success,
                                                warning_msg: warning
                                            })
                                        "
                  >
                    <object data="/icons/basket.svg" type="image/svg+xml">Cart icon</object>
                  </button>
                  <a :href="`/product/${product.id}/${local}`" class="more">{{JSON.parse(cataloglocal).more}}</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 mt-5">

            <paginate
              v-if="totalPages > 1 && local === 'en'"
              v-model="currentPage"
              :page-count="totalPages"
              :click-handler="paginate"
              :prev-text="'Back'"
              :next-text="'Next'"
              :container-class="'pagination'"
              :page-class="'page-item'"
              :prev-link-class="'prev'"
              :next-link-class="'next'"
              :page-range="4"
            ></paginate>
              <paginate
                  v-if="totalPages > 1 && local === 'ru'"
                  v-model="currentPage"
                  :page-count="totalPages"
                  :click-handler="paginate"
                  :prev-text="'Назад'"
                  :next-text="'Следующий'"
                  :container-class="'pagination'"
                  :page-class="'page-item'"
                  :prev-link-class="'prev'"
                  :next-link-class="'next'"
                  :page-range="4"
              ></paginate>
              <paginate
                  v-if="totalPages > 1 && local === 'kz'"
                  v-model="currentPage"
                  :page-count="totalPages"
                  :click-handler="paginate"
                  :prev-text="'Артқа'"
                  :next-text="'Келесі'"
                  :container-class="'pagination'"
                  :page-class="'page-item'"
                  :prev-link-class="'prev'"
                  :next-link-class="'next'"
                  :page-range="4"
              ></paginate>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import Select2 from "v-select2-component";
import {
  BCollapse,
  BCard,
  BButton,
  BCardHeader,
  BCardBody,
} from "bootstrap-vue";

export default {
  props: {
    warning: {
      type: String,
      required: true,
    },
    success: {
      type: String,
      required: true,
    },
    cataloglocal: {
      type: String,
      required: true,
    },
    local:{
        type:String,
        required:true,
    },
  },
  data() {
    return {
      sorters: [
        { id: "title", text: JSON.parse(this.cataloglocal).sortByName },
        {
          id: "asc",
          text: JSON.parse(this.cataloglocal).sortByPriceAsc,
        },
        {
          id: "desc",
          text: JSON.parse(this.cataloglocal).sortByPriceDesc,
        },
      ],
      quantities: [10, 15, 20, 25],
      selectedSorter: "",
      selectedCategory: "",
      selectedQuantity: "",
      selectedSubcategory: "",
    };
  },
  computed: {
    ...mapState({
      products: (state) => state.catalog.products,
      categories: (state) => state.catalog.categories,
      totalPages: (state) => state.catalog.totalPages,
    }),
  },
  methods: {
    ...mapActions("catalog", [
      "sortByCategory",
      "sortBy",
      "addToCart",
      "showBy",
      "sortBySubcategory",
    ]),
    paginate(page) {
      this.$store.dispatch("catalog/paginate", page);
    },
  },
  created() {
    this.$store.dispatch("catalog/fetchProducts");
  },
  components: {
    "b-collapse": BCollapse,
    "b-card": BCard,
    "b-button": BButton,
    "b-card-header": BCardHeader,
    "b-card-body": BCardBody,
    select2: Select2,
  },
};
</script>

<style lang="scss" scoped></style>
