<template>
  <div class="container d-flex flex-column overflow-x-scroll">
    <div class="header-row row flex-nowrap align-items-center mb-3 px-3">

      <div class="col-xl-2 col-lg-2 col-sm-4 col-5">
        <h5 v-if="lang === 'ru' ">Фото продуктов</h5>
          <h5 v-if="lang === 'en' ">Products photo</h5>
          <h5 v-if="lang === 'kz' ">Өнімнің фотосуреттері</h5>

      </div>
      <div class="col-xl-3 col-lg-3 col-sm-4 col-5">
        <h5 v-if="lang==='en'">Name</h5>
          <h5 v-if="lang === 'ru' ">Название</h5>
          <h5 v-if="lang === 'kz' ">Аты</h5>
      </div>
      <div class="col-xl-2 col-lg-2 col-sm-5 col-7">
        <h5 v-if="lang === 'en'">Number</h5>
          <h5 v-if="lang === 'ru'">Количество</h5>

          <h5 v-if="lang === 'kz'">Саны</h5>

      </div>
      <div class="col-xl-1 col-lg-1 col-sm-3 col-4">
        <h5 v-if="lang === 'en'">Status</h5>
          <h5 v-if="lang === 'ru'">Статус</h5>

          <h5 v-if="lang === 'kz'">Күй</h5>

      </div>
      <div class="col-xl-2 col-lg-2 col-sm-3 col-4">
        <h5 v-if="lang === 'en'">Manager name</h5>
          <h5 v-if="lang === 'ru'">Имя менеджера</h5>

          <h5 v-if="lang === 'kz'">Менеджердің аты</h5>

      </div>
      <div class="offset-xl-2 offset-lg-2 offset-sm-4 offset-6"></div>
    </div>
    <div
      class="body-row row flex-nowrap align-items-center mb-3 px-3"
      data-aos="fade-left"
      data-aos-duration="1000"
      v-for="(order, index) in orders"
      :key="index"
    >
      <div class="col-xl-2 col-lg-2 col-sm-4 col-5">
        <img
          class="product-photo"
          :src="`/storage/${order.main_image.image_path}`"
          :alt="order.title"
        />
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-4 col-5">
        <h3 class="product-name">{{ order.title }}</h3>
      </div>
      <div class="col-xl-2 col-lg-2 col-sm-5 col-7">
        <div class="quantity-controls">
          <button type="button" class="increase" @click="increaseQuantity(order.id)">+</button>
          <label>
            <input type="number" value="1" v-model="order.quantity" disabled />
              {{ lang === 'en' ? order.dimension : '' }}{{ lang === 'ru' ? 'п.е.' : '' }}
              {{ lang === 'kz' ? 'е.б.' : '' }}
          </label>
          <button
              type="button"
              class="decrease"
              @click="decreaseQuantity(order.id)">
                -
          </button>
        </div>
      </div>
      <div class="col-xl-1 col-lg-1 col-sm-3 col-4">
        <h3 class="order-status" :style="`color: ${order.status_color}`" v-if="lang==='en'">
            {{order.status}}
        </h3>
          <h3 class="order-status" :style="`color: ${order.status_color}`" v-if="lang === 'kz'">
              Күту
          </h3>
          <h3 class="order-status" :style="`color: ${order.status_color}`" v-if="lang === 'ru'">
              Ожидание
          </h3>
      </div>
      <div class="col-xl-2 col-lg-2 col-sm-3 col-4">
        <h3 class="manager-name">{{ order.manager_name }}</h3>
      </div>
      <div class="col-xl-2 col-lg-2 col-sm-4 col-6">
        <button
          type="button"
          class="cart-btn"
          @click="repeatPurchase({
            id: order.id,
            quantity: order.quantity,
            totalPrice: order.total_price})"
        >
            {{ (lang === 'en') ?
                'Repeat order' : '' }}
            {{lang === 'ru' ?
                'Повторить покупку' : ''}}
            {{lang === 'kz' ?
                'Сатып алуды қайталаңыз' : ''}}</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  computed: {
    ...mapState({
      orders: (state) => state.personal.orders,
    }),
  },
  props:{
      lang: {
          type:String,
      }
  },
  methods: {
    ...mapActions("personal", [
      "increaseQuantity",
      "decreaseQuantity",
      "repeatPurchase",
    ]),
  },
  created() {
    this.$store.dispatch("personal/fetchOrders");
  },
};
</script>

<style lang="scss" scoped>
</style>
