<template>
    <div class="test">
        <div class="cut">
            <a href="javascript:void(0);">
                <h2>Test</h2>
                <object data="/icons/test.svg" type="image/svg+xml"
                    >Test icon</object
                >
            </a>
        </div>
        <button type="button" @click="showTest" v-if="lang == 'ru'">Пройти тест</button>
        <button type="button" @click="showTest" v-else-if="lang == 'en'" >Pass a test</button>
        <button type="button" @click="showTest" v-else>Тестке қатысыңыз</button>
        <test></test>
    </div>
</template>

<script>
import TestModal from "./modals/TestModal.vue";
export default {
    props:{
      lang:{
          type:String,
          required:true
      }
    },
    components: {
        test: TestModal
    },
    methods: {
        showTest() {
            this.$modal.show("test");
        }
    },
    mounted() {

    }
};
</script>

<style lang="scss" scoped></style>
