<template>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form @submit.prevent="update">
          <div class="form-group" :class="{ 'form-group--error': $v.password.$error }">
            <template v-if="$v.password.$error">
              <span
                class="error"
              >{{JSON.parse(password_validation).short}}</span>
            </template>
            <template v-else>
              <span>Password</span>
            </template>
            <input class="form-control"  type="password" v-model="password">
          </div>
          <div class="form-group" :class="{ 'form-group--error': $v.password_repeat.$error }">
            <template v-if="$v.password_repeat.$error">
              <span
                class="error"
              >{{JSON.parse(password_validation).match}}</span>
            </template>
            <template v-else>
              <span>Please re-enter your password</span>
            </template>
            <input class="form-control" type="password" v-model="password_repeat">
          </div>
          <div class="form-group">
            <button :disabled="$v.$anyError" type="submit">Update</button>
          </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</template>

<script>
import { required, minLength, sameAs } from "vuelidate/lib/validators";
import { AuthService } from "./../service/service.js";
import Swal from "sweetalert2";

const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
});
export default {
  data() {
    return {
      password: "",
      password_repeat: "",
    };
  },
  props: ['id', 'password_validation'],
  validations: {
    password: {
      required,
      minLength: minLength(8),
    },
    password_repeat: {
      required,
      sameAsPassword: sameAs("password"),
    },
  },
  methods: {
    setPassword(e) {
      this.password = e.target.value;
      this.$v.password.$touch();
    },
    repeatPassword(e) {
      this.password_repeat = e.target.value;
      this.$v.password_repeat.$touch();
    },
    update() {
      let data = {
        password: this.password,
        user_id: this.id
      }
      console.log(data);
      this.$v.$touch();
      localStorage.setItem("user_id", this.id);
      if (!this.$v.$invalid) {
        AuthService.updatePassword(data)
          .then((response) => {
            window.location.replace('/')
          })
          .catch((error) => {
            console.log(error);
            Toast.fire({
              icon: "error",
              title: error.response.data.message,
            });
          });
      }
    }
  }
};
</script>
<style lang="scss">
  .form-group {
    span {
      font-family: AvenirNextCyr;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 15px;
    }
    input {
      margin-top: 5px;
      font-family: AvenirNextCyr;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      border: 1px solid #086f35;
      border-radius: 20px;
      height: 48px;
      margin-top: 0.5rem;
    }
    button {
      font-family: AvenirNextCyr;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.2;
      width: 100%;
      height: 50px;
      background: #f5821f;
      border-radius: 50px;
      color: #ffffff;
      border: none;
    }
    .error {
      color: #de293a;
    }
  }
</style>