.background-limegreen {
    background-color: $limegreen;
}
.background-mostlylightgray {
    background-color: $mostlylightgray;
}
.background-kazseeds {
    background-image: url("/images/kazseeds.png");
    background-size: auto;
    background-repeat: no-repeat;
}
.background-verydarkblue {
    background-color: rgb(30, 35, 41);
}
.background-white {
    background-color: $white;
}
.overflow-x-scroll {
    overflow-x: scroll;
}
.overflow-y-scroll {
    overflow-y: scroll;
}
@media (max-width: 992px) {
    .background-kazseeds {
        background-size: contain;
    }
}
