<template>
    <div style="display: contents;">
        <a
            v-if="!authenticated"
            class="d-flex align-items-center"
            href="javascript:void(0);"
            @click="showLogin"
        >
            <object data="/images/icons/account.svg" type="image/svg+xml"
                >Account icon</object
            >
            {{ link_title }}
        </a>
        <a v-else class="d-flex align-items-center" :href="link_type">
            <object data="/images/icons/account.svg" type="image/svg+xml"
                >Account icon</object
            >
            {{ username }}
        </a>
        <login
            :email_validations="email"
            :password_validations="password"
            :authTextTrans="authText"
            :authMain="auth"
        ></login>
        <registration
            :email_validations="email"
            :password_validations="password"
            :name_validations="name"
            :phone_validations="phone"
            :authMain="auth"
        ></registration>
        <forgotpassword
            :email_validations="email"
            :authMain="auth"
        ></forgotpassword>
    </div>
</template>

<script>
import { mapState } from "vuex";
import LoginModal from "../modals/LoginModal.vue";
import RegistrationModal from "../modals/RegistrationModal.vue";
import ForgotPassword from "../modals/ForgotPassword.vue";

export default {
    data() {
        return {};
    },
    props: {
        email: {
            type: String,
            required: true
        },
        password: {
            type: String,
            required: true
        },
        name: {
            type: String,
            required: true
        },
        phone: {
            type: String,
            required: true
        },
        link_type: {
            type: String,
            required: true
        },
        link_title: {
            type: String,
            required: true
        },
        authText: {
            type: String
        },
        auth: {
            type:String,
            required:true
        }
    },
    computed: {
        ...mapState({
            authenticated: state => state.personal.authenticated,
            username: state => state.personal.username
        })
    },
    components: {
        login: LoginModal,
        registration: RegistrationModal,
        forgotpassword: ForgotPassword
    },
    methods: {
        showLogin() {
            this.$modal.show("login");
        }
    },
    created() {
        this.$store.dispatch("personal/authCheck");
    }
};
</script>

<style lang="scss" scoped></style>
