<template>
  <modal name="forgotpassword" :draggable="false" :adaptive="true" width="375" height="auto">
    <div class="container py-2 px-5">
      <button type="button" class="close-btn" @click="$modal.hide('forgotpassword')">
        <i class="fal fa-times"></i>
      </button>
      <div class="row">
        <div class="col-xl-12 mb-2 text-center">
          <h1>{{authData.reset_password}}</h1>
        </div>
        <div class="col-xl-12 text-center">
          <form @submit.prevent="forgotpassword">
            <div
              class="form-group"
              :class="{
                                'form-group--error': $v.email.$error || emailErr
                            }"
            >
              <label>
                <template v-if="$v.email.$error">
                  <span
                    class="error"
                    v-if="!$v.email.required"
                  >{{ JSON.parse(email_validations).required }}</span>
                  <span
                    class="error"
                    v-if="!$v.email.email"
                  >{{ JSON.parse(email_validations).invalid }}</span>
                </template>
                <template v-else-if="emailErr">
                  <span class="error">{{ emailErrMsg }}</span>
                </template>
                <template v-else>
                  <span>{{ authData.enter_email }}</span>
                </template>
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  placeholder="info@mail.com"
                  v-model="email"
                  @input="setEmail($event)"
                />
              </label>
            </div>
            <div class="form-group">
              <button :disabled="$v.$anyError" type="submit">{{authData.reset}}</button>
            </div>
            <div class="form-group">
              <a href="javascript:void(0)" @click="showLogin">{{authData.login}}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import { required, minLength, email, sameAs } from "vuelidate/lib/validators";
import { AuthService } from "../../service/service.js";
import Swal from "sweetalert2";
import { pick } from "lodash";

const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
});
export default {
  data() {
    return {
      email: "",
      emailErr: false,
      authData:'',
    };
  },
  props: {
    email_validations: {
      type: String,
      required: true,
    },
    authMain:{
        type:String,
        required:true
    }
  },
  validations: {
    email: {
      required,
      email,
    },
  },
  methods: {
    showLogin() {
      this.$modal.hide("forgotpassword");
      this.$modal.show("login");
    },
    setEmail(e) {
      this.email = e.target.value;
      this.$v.email.$touch();
    },
    forgotpassword(e) {
      let data = new FormData(e.target);
      this.$v.$touch();
      if (!this.$v.$invalid) {
        AuthService.forgetpassword(data)
          .then((response) => {
            Toast.fire({
              icon: "success",
              title: response.data.message,
            });
          })
          .catch((error) => {
            console.log(error);
            Toast.fire({
              icon: "success",
              title: error.response.data.message,
            });
          });
      }
    },
  },
  created(){
      this.authData = JSON.parse(this.authMain)
  }
};
</script>

<style lang="scss" scoped></style>
