<template>
  <modal name="login" :draggable="false" :adaptive="true" width="375" height="auto">
    <div class="container py-3 px-5">
      <button type="button" class="close-btn" @click="$modal.hide('login')">
        <i class="fal fa-times"></i>
      </button>
      <div class="row">
        <div class="col-xl-12 text-center mb-4">
          <h1>{{authTextTrans}}</h1>
        </div>
        <div class="col-xl-12 text-center">
          <form @submit.prevent="login" autocomplete="off">
            <div class="form-group" :class="{ 'form-group--error': $v.email.$error }">
              <label>
                <template v-if="$v.email.$error">
                  <span
                    class="error"
                    v-if="!$v.email.required"
                  >{{ JSON.parse(email_validations).required }}</span>
                  <span
                    class="error"
                    v-if="!$v.email.email"
                  >{{ JSON.parse(email_validations).invalid }}</span>
                </template>
                <template v-else>
                  <span>{{authData.enter_email}}</span>
                </template>
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  placeholder="info@mail.com"
                  autocomplete="off"
                  v-model="email"
                  @input="setEmail($event)"
                />
              </label>
            </div>
            <div class="form-group" :class="{ 'form-group--error': $v.password.$error }">
              <label>
                <template v-if="$v.password.$error">
                  <span
                    class="error"
                    v-if="!$v.password.required"
                  >{{ JSON.parse(password_validations).required }}</span>
                </template>
                <template v-else>
                  <span>{{authData.enter_password}}</span>
                </template>
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  autocomplete="new-password"
                  v-model="password"
                  @input="setPassword($event)"
                />
              </label>
            </div>
            <div class="form-group">
              <button :disabled="$v.$anyError" type="submit">{{authData.submit_login}}</button>
            </div>
            <div class="form-group">
              <a href="javascript:void(0)" @click="showForgotPassword">{{authData.forgot}}</a>
            </div>
            <div class="form-group">
              <a href="javascript:void(0)" @click="showRegistration">{{authData.registration}}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";
import { AuthService } from "../../service/service.js";
import Swal from "sweetalert2";

const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
});
export default {
  data() {
    return {
      email: "",
      password: "",
      authData:"",
    };
  },
  props: {
    email_validations: {
      type: String,
      required: true,
    },
    password_validations: {
      type: String,
      required: true,
    },
    authTextTrans: {
      type: String,
    },
    authMain:{
      type:String,
      required:true,
    }
  },
  validations: {
    email: {
      required,
      email,
    },
    password: {
      required,
    },
  },
  methods: {
    setEmail(e) {
      this.email = e.target.value;
      this.$v.email.$touch();
    },
    setPassword(e) {
      this.password = e.target.value;
      this.$v.password.$touch();
    },
    showForgotPassword() {
      this.$modal.hide("login");
      this.$modal.show("forgotpassword");
    },
    showRegistration() {
      this.$modal.hide("login");
      this.$modal.show("registration");
    },
    login(e) {
      let data = new FormData(e.target);
      this.$v.$touch();
      if (!this.$v.$invalid) {
        AuthService.login(data)
          .then((response) => {
            console.log(response);
            localStorage.setItem("token", response.data.remember_token);
            localStorage.setItem("user_id", response.data.id);
            window.location.replace("/personal");
          })
          .catch((error) => {
            Toast.fire({
              icon: "error",
              title: error.response.data,
            });
          });
      }
    },
  },
  created(){
      this.authData = JSON.parse(this.authMain)
  }
};
</script>

<style lang="scss" scoped>
</style>
