<template>
  <modal name="registration" :draggable="false" :adaptive="true" width="375" height="auto">
    <div class="container py-2 px-5">
      <button type="button" class="close-btn" @click="$modal.hide('registration')">
        <i class="fal fa-times"></i>
      </button>
      <div class="row">
        <div class="col-xl-12 mb-2 text-center">
          <h1>{{authData.registration}}</h1>
        </div>
        <div class="col-xl-12 text-center">
          <form @submit.prevent="register">
            <div class="form-group" :class="{ 'form-group--error': $v.name.$error }">
              <label>
                <template v-if="$v.name.$error">
                  <span
                    class="error"
                    v-if="!$v.name.required"
                  >{{ JSON.parse(name_validations).required }}</span>
                </template>
                <template v-else>
                  <span>{{authData.name}}</span>
                </template>
                <input
                  class="form-control"
                  type="name"
                  name="name"
                  placeholder="Ivan"
                  v-model="name"
                  @input="setName($event)"
                />
              </label>
            </div>
            <div
              class="form-group"
              :class="{
                                'form-group--error': $v.phone.$error || phoneErr
                            }"
            >
              <label>
                <template v-if="$v.phone.$error">
                  <span
                    class="error"
                    v-if="!$v.phone.required"
                  >{{ JSON.parse(phone_validations).required }}</span>
                </template>
                <template v-else-if="phoneErr">
                  <span class="error">{{ phoneErrMsg }}</span>
                </template>
                <template v-else>
                  <span>{{authData.phone}}</span>
                </template>
                <input
                  class="form-control"
                  type="tel"
                  name="phone"
                  placeholder="+7 555 656 20 25"
                  v-mask="'+7 ### ### ## ##'"
                  v-model="phone"
                  @input="
                                        setPhone($event);
                                        checkPhone($event);
                                    "
                />
              </label>
            </div>
            <div
              class="form-group"
              :class="{
                                'form-group--error': $v.email.$error || emailErr
                            }"
            >
              <label>
                <template v-if="$v.email.$error">
                  <span
                    class="error"
                    v-if="!$v.email.required"
                  >{{ JSON.parse(email_validations).required }}</span>
                  <span
                    class="error"
                    v-if="!$v.email.email"
                  >{{ JSON.parse(email_validations).invalid }}</span>
                </template>
                <template v-else-if="emailErr">
                  <span class="error">{{ emailErrMsg }}</span>
                </template>
                <template v-else>
                  <span>{{authData.enter_email}}</span>
                </template>
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  placeholder="info@mail.com"
                  v-model="email"
                  @input="
                                        setEmail($event);
                                        checkEmail($event);
                                    "
                />
              </label>
            </div>
            <div class="form-group" :class="{ 'form-group--error': $v.password.$error }">
              <label>
                <template v-if="$v.password.$error">
                  <span
                    class="error"
                    v-if="!$v.password.required"
                  >{{ JSON.parse(password_validations).required }}</span>
                  <span
                    class="error"
                    v-if="!$v.password.minLength"
                  >{{ JSON.parse(password_validations).short }}</span>
                </template>
                <template v-else>
                  <span>{{authData.enter_password}}</span>
                </template>
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  v-model="password"
                  @input="setPassword($event)"
                />
              </label>
            </div>
            <div
              class="form-group"
              :class="{
                                'form-group--error': $v.password_repeat.$error
                            }"
            >
              <label>
                <template v-if="$v.password_repeat.$error">
                  <span
                    class="error"
                    v-if="!$v.password_repeat.required"
                  >{{ JSON.parse(password_validations).required }}</span>
                  <span
                    class="error"
                    v-else-if="
                                            !$v.password_repeat.sameAsPassword
                                        "
                  >{{ JSON.parse(password_validations).match }}</span>
                </template>
                <template v-else>
                  <span>{{authData.conf_pass}}</span>
                </template>

                <input
                  class="form-control"
                  type="password"
                  name="password_repeat"
                  v-model="password_repeat"
                  @input="repeatPassword($event)"
                />
              </label>
            </div>
            <div class="form-group">
              <button :disabled="$v.$anyError" type="submit">{{authData.submit_register}}</button>
            </div>
            <div class="form-group">
              <a href="javascript:void(0)" @click="showLogin">{{authData.login}}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import { required, minLength, email, sameAs } from "vuelidate/lib/validators";
import { AuthService } from "../../service/service.js";
import Swal from "sweetalert2";
import { pick } from "lodash";

const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
});
export default {
  data() {
    return {
      name: "",
      phone: "",
      email: "",
      password: "",
      password_repeat: "",
      emailErr: false,
      phoneErr: false,
      emailErrMsg: "",
      phoneErrMsg: "",
      authData:""
    };
  },
  props: {
    email_validations: {
      type: String,
      required: true,
    },
    password_validations: {
      type: String,
      required: true,
    },
    name_validations: {
      type: String,
      required: true,
    },
    phone_validations: {
      type: String,
      required: true,
    },
    authMain:{
        type:String,
        required:true,
    }
  },
  validations: {
    name: {
      required,
    },
    phone: {
      required,
    },
    email: {
      required,
      email,
    },
    password: {
      required,
      minLength: minLength(8),
    },
    password_repeat: {
      required,
      sameAsPassword: sameAs("password"),
    },
  },
  methods: {
    setName(e) {
      this.name = e.target.value;
      this.$v.name.$touch();
    },
    setPhone(e) {
      this.phone = e.target.value;
      this.$v.phone.$touch();
    },
    setEmail(e) {
      this.email = e.target.value;
      this.$v.email.$touch();
    },
    checkEmail: _.debounce(function (e) {
      AuthService.emailCheck(e.target.value)
        .then((response) => {
          this.emailErr = false;
          this.emailErrMsg = "";
        })
        .catch((error) => {
          this.emailErr = true;
          this.emailErrMsg = error.response.data;
        });
    }, 300),
    checkPhone: _.debounce(function (e) {
      AuthService.phoneCheck(e.target.value)
        .then((response) => {
          this.phoneErr = false;
          this.phoneErrMsg = "";
        })
        .catch((error) => {
          this.phoneErr = true;
          this.phoneErrMsg = error.response.data;
        });
    }, 300),
    setPassword(e) {
      this.password = e.target.value;
      this.$v.password.$touch();
    },
    repeatPassword(e) {
      this.password_repeat = e.target.value;
      this.$v.password_repeat.$touch();
    },
    showLogin() {
      this.$modal.hide("registration");
      this.$modal.show("login");
    },
    register(e) {
      let data = new FormData(e.target);
      this.$v.$touch();
      if (!this.$v.$invalid) {
        AuthService.register(data)
          .then((response) => {
            localStorage.setItem("token", response.data.remember_token);
            localStorage.setItem("user_id", response.data.id);
            window.location.replace("/personal");
          })
          .catch((error) => {
            console.log(error);
            Toast.fire({
              icon: "success",
              title: error.response.data.message,
            });
          });
      }
    },
  },
  created(){
      this.authData = JSON.parse(this.authMain)
  }
};
</script>

<style lang="scss" scoped></style>
