<template>
  <modal name="test" :draggable="false" :adaptive="true" width="375" height="auto">
    <div class="container py-3 px-5">
      <button type="button" class="close-btn" @click="$modal.hide('test')">
        <i class="fal fa-times"></i>
      </button>
      <form class="row" @submit.prevent="sendAnswers">
        <div class="col-xl-12 text-center mb-4">
          <h1>Ответьте на парочку вопросов</h1>
        </div>
        <div
          class="col-xl-12 mb-3"
          v-if="questions.length"
          v-for="(question, index) in questions"
          :key="index"
        >
          <b-card no-body>
            <b-card-header
              header-tag="div"
              v-b-toggle="`accordion-${index}`"
              role="tab"
            >{{ question.question }}</b-card-header>
            <b-collapse :id="`accordion-${index}`" role="tabpanel">
              <b-card-body>
                <ul>
                  <li
                    v-for="(answer,
                                        idx) in question.answers"
                    :key="idx"
                  >
                    <label>
                      <input type="checkbox" :name="`answers[]`" :value="`${answer.id}`" />
                      {{ answer.answer }}
                    </label>
                  </li>
                </ul>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
        <div class="col-xl-12 d-flex justify-content-center">
          <button type="submit" class="sendAnswersBtn">Отправить</button>
        </div>
      </form>
    </div>
  </modal>
</template>

<script>
import { TestService } from "../../service/service.js";
import {
  BCollapse,
  BCard,
  BButton,
  BCardHeader,
  BCardBody,
  BNavbarToggle,
  BFormCheckbox,
  BFormCheckboxGroup,
} from "bootstrap-vue";
export default {
  data() {
    return {
      questions: [],
    };
  },
  components: {
    "b-collapse": BCollapse,
    "b-card": BCard,
    "b-button": BButton,
    "b-card-header": BCardHeader,
    "b-card-body": BCardBody,
  },
  methods: {
    sendAnswers(e) {
      let data = new FormData(e.target);
      TestService.answerTest(data)
        .then((response) => {
          console.log(response);
        })
        .catch((error) => console.log(error));
    },
  },
  created() {
    TestService.getTest()
      .then((response) => {
        this.questions = response.data.questions;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>

<style lang="scss" scoped></style>
